.wcontainer {
  height: fit-content;
  width: 100%;
  margin: auto;
}

.weather {
  background-image: url(../Weather/sunshineday.webp);
  background-position: 100% 100%;
  background-size: cover;
  height: 60vh;
  width: 100%;
  /* position: relative; */
}

.weather img {
  object-fit: cover;
  object-position: 100% 100%;
  height: 100%;
  width: 100%;
}

.content {
  position: relative;
  top: 10%;
  left: 16%;
}

.content h2 {
  color: #fff;
  font-size: 4em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  /* color: transparent; */
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.wsearch {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.weather .col input {
  display: block;
  font-size: 22px;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
  padding: 15px 15px;
  width: 40vw;
}

.weather .col input::placeholder {
  opacity: 0.3;
  color: black;
}

.wsearch .col button {
  font-size: 22px;
  margin: 10px 0;
  padding: 5px 12px;
  cursor: pointer;
  /* border-radius: 10px; */
  background-color: #fff;
  border: 1px solid black;
  transition: 0.3s ease all;
}

.wsearch .col button:hover {
  box-shadow: 0 4px 13px black;
  transform: translateY(-5px);
  transition: 0.3s ease all;
}

.wintro {
  width: 90%;
  margin: 5vh auto;
  border-left: 5px solid skyblue;
}

.wintro .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.wintro .container div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  width: 80%;
  align-items: center;
}

.wintro div h3 {
  white-space: nowrap;
}

.managecities {
  position: absolute;
  background-color: #fff;
  padding: 0;
  max-height: 200px;
  width: 400px;
  overflow-y: scroll;
  z-index: 1;
  border: 1.5px solid black;
  box-shadow: 0px 15px 50px black;
}

.managecities li {
  list-style-type: none;
  padding: 0 5px;
  font-size: 22px;
}

.managecities li:hover {
  background-color: grey;
  cursor: pointer;
}

.wintrosimple {
  width: 90%;
  background-color: rgba(135, 207, 235, 0.382);
}

.Weatherlogo {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -10%);
  font-size: 20px;
  height: 31%;
  width: 18%;
}

@media screen and (max-width: 667px) {
  .wsearch {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .weather input {
    width: 100%;
  }
  .managecities {
    width: 100%;
    overflow-x: hidden;
  }
  .managecities li {
    font-size: 16px;
  }
  .wintrosimple {
    width: 95%;
  }
  .wintro .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .wintro .container div div {
    width: 90%;
  }
  .wsearch > .col > img {
    display: none;
  }
}

@media screen and (max-width: 830px) {
  .content {
    position: relative;
    top: 6%;
    left: 32%;
  }
}
